# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b3876e6bfccc3b3f8dc120345b090512857b87cb19d1a2ba1ee4f8abd111f06bdd1df00275f9bf291df6bc3d80d0b686b21f407f45c5bada5880a182a95a4140

test:
  secret_key_base: 914d7ca66d76a4908b47fdd97c169f5962608c4b0b08fc52d3165ab02cf8099c0bf089febca29fc142d90b7bd53c0e4148d7b7b6c5f1351791580b0171ce26f7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 3b9ce68a887b12766ec6dc9a5e2adc590a8c8cef59f14879db5eeee73f35b7bba866cb39c649ee4f0515294347d569fba6cf405fd7a7f514f8b47e52f7e00610
